@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local('Raleway Thin'), local('Raleway-Thin'), url(font/Raleway-100.woff2) format('woff2'), url(font/Raleway-100.ttf) format('truetype');
    unicode-range: U+0000—001F;
}
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 300;
    src: local('Oxygen Light'), local('Oxygen-Light'), url(http://fonts.gstatic.com/s/oxygen/v5/AwBqWF2kjhlybWamaKMPcZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000—001F;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Oxygen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}
h1,
h2,
h3 {
    font-family: 'Raleway', 'Oxygen', sans-serif;
    margin: 0;
    font-weight: 100;
}
h1 {
    font-size: 6em;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.1em;
    padding: 20px 0;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
nav ul {
    list-style: none;
}
nav li {
    width: auto;
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
}
nav li {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
nav li:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: white;
    height: 1px;
    transition: 0.2s ease-out;
}
nav li:hover:before,
nav li:focus:before,
nav li:active:before {
    left: 0;
    right: 0;
}
header {
	background-image: linear-gradient(175deg, transparent 80%, white 10%), url(images/bg1.jpg);
	background-size: 100%, cover;
	background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
article {
    background: white;
    color: #333;
    padding: 2em;
}
article:nth-of-type(1) {
	padding-top: 0;
}
p {
    font-size: 1.1em;
}
